# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### Server Specific ###
server/node_modules/
server/.env

### Client Specific ###
client/node_modules/
client/.env*

### General ###
**/node_modules/
**/.env
**/.env.*

# Production
/build
/dist

# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors/OS
.DS_Store
.idea/
.vscode/